body {
    background-color: #011627;
    border: 60px solid #2EC4B6;
    border-top: 0px;
    margin: 0px;
}

h1 {
    text-align: center;
    color: white;
    font-family: "Bebas Neue";
    font-size: 50px;
}

h2 {
    text-align: center;
    color: white;
    font-family: "Bebas Neue";
    font-size: 30px;
}

div {
    text-align: center;

}

p {
    text-align: center;
    color: white;
    font-family: "Bitcount Single", system-ui;
    padding-right: 18%;
    padding-left: 18%;
    padding-top: 5%;
}

label {
    text-align: center;
    color: white;
    font-family: "Bitcount Single", system-ui;
    margin-top: 5px;
}

input {
    width: 20%;
    padding-top: 10px;
}

#submit {
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 2%;
    background-color: orange;
    border-radius: 20px;
}